<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./assets/css/12bool.css">
    <link rel="stylesheet" href="./assets/css/master.css">
    <title></title>
  </head>
  <body>
    <div id="root">
      <div class="container">
        <button v-if="mails.length == 0" @click="getMail()">Genera Mailing List</button>
        <div v-if="mails.length == 10" class="lista">
          <h1>Mailing List</h1>
          <br>
          <ul>
            <li v-for="mail in mails">{{mail}}</li>
          </ul>
        </div>
      </div>




































    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="./assets/js/main.js" charset="utf-8"></script>
  </body>
</html>
